<div class="container">
	<footer class="footer">

		<smalll>
			Copyright 2015 by <a href="/">Erinz</a>
		</small>
		<nav>
			<ul>
				<li>
					<%= link_to "About", about_path %>
				</li>
			</ul>
		</nav>
	</footer>
</div>